#bar-example-8 {
  height: 200px;
  max-width: 300px;
  margin: 0 auto;
  --labels-size: 50px;
  margin-bottom: 20px;
}

#area-example-10 {
  height: 200px;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}
